

 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; 
   height: 100%;}
body { margin: 0; overflow-x:hidden; font-size: 13px; line-height: 1.231; height: 100%; 
background-image:url('tbg.jpg');
  }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*Define Accordion box*/
.accordion { width:97%; overflow:hidden; margin:10px auto; color:#474747; background:#D7D7D9; padding:0px; margin: 15px 0px 25px 0px;
    position: relative;
    left: 020px;
    top: -60px;
    right: 24px;
    bottom: 15px;
    height: 600px;

}

/*General Accordion****************************************************************************/
/*Set style of open slide*/
.accordion section:target { background:#FFF; padding:10px; height: 90%; margin: 25px 10px 20px 10px}
.accordion section:target:hover { background:#FFF; }
.accordion section:target h2 {width:100%;}
.accordion section:target h2 a{ color:#333; padding:0;}
.accordion section:target p {display:block; font-family: Helvetica; font-size: 16px;}
.accordion section h2 a{padding:100px 10px;display:block; font-size:30px; font-weight:normal;color:#eee; text-decoration:none; font-family: Helvetica;}

/*set style of closed slide*/
.accordion section{ float:left;	overflow:hidden; color:#333; cursor:pointer; background: #02356e; margin:3px; }
.accordion section:hover {background:#444;}
.accordion section p { display:none; }
.accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}

/*End General Accordion****************************************************************************/

/*Horizontal Accordion *********************************************************************/
.horizontal section{ width:4.1%; height:100%; 
	-moz-transition:width 0.5s ease-out; 
	-webkit-transition:width 0.5s ease-out;
  	-o-transition:width 0.5s ease-out;
	-ms-transition:width 0.5s ease-out;
  	transition:width 0.5s ease-out;
}


/*Header of closed slide*/
.horizontal section h2 { 
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	width:240px; position:relative; left:-100px; top:85px;
} 

/*On mouse over open slide*/
.horizontal :target{ width:73%;height:230px; }
.horizontal :target h2{ top:0px;left:0;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
}
/*End Horizontal Accordion *********************************************************************/

img.logo{

	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 020px;
    top: -50px;
    right: 0px;
    bottom: 30px;
	
	
}

.share{
	position: relative;
	left: 1260px;
	top: -102px;
}

.footer{
	position: relative;
	font-family: Helvetica;
	left: 500px;
	top: -60px;
}

